[Desktop Entry]
Name=Galaxy Book Camera
Name[pt]=Galaxy Book Câmera
Name[pt_BR]=Galaxy Book Câmera
Name[es]=Galaxy Book Cámara
Name[fr]=Galaxy Book Caméra
Name[de]=Galaxy Book Kamera
Name[it]=Galaxy Book Fotocamera
Name[ja]=Galaxy Book カメラ
Name[ko]=Galaxy Book 카메라
Name[ru]=Galaxy Book Камера
Name[uk]=Galaxy Book Камера
Name[zh_CN]=Galaxy Book 相机
Name[zh_TW]=Galaxy Book 相機
GenericName=Camera
GenericName[pt]=Câmera
GenericName[pt_BR]=Câmera
GenericName[es]=Cámara
GenericName[fr]=Caméra
GenericName[de]=Kamera
GenericName[it]=Fotocamera
GenericName[ja]=カメラ
GenericName[ko]=카메라
GenericName[ru]=Камера
GenericName[uk]=Камера
GenericName[zh_CN]=相机
GenericName[zh_TW]=相機
Comment=Embedded preview with photo and video capture
Comment[pt]=Preview embutido com captura de foto e vídeo
Comment[pt_BR]=Preview embutido com captura de foto e vídeo
Exec=@EXEC@
Icon=@ICON@
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=@STARTUP_WM_CLASS@
Categories=AudioVideo;Video;Photography;
Keywords=Camera;Webcam;Photo;Video;Libcamera;
